@use 'variables';
@use 'mixin';

body {
    font-family: variables.$font-main;
    font-size: 16px;
}


.container{
    margin: 0 80.5px;

    @include mixin.mediaTablet {
        margin: 0 20px;
    }
}