@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
//Colors
$text-color: #00012A;
$yellow: #FDC360;
$red: #D53302;
$white: #FFFFFF;
$green: #DFEDE3;
$blue: #8FB1BD;
$elements-grey: #E6E6E6;
$shadow-top-and-left: #EFEFEF;
$shadow-botton-and-right: #D8D8D8;

//Fonts
$font-main: 'Manrope', sans-serif;


// Media
$tablet: 959px;